<%=stylesheet_link_tag "users_show.css" %> 
<h1 class="user_show_title"><%=current_user.email%>'s events</h1>
<div class="users_show_container">
    <%current_user.events.each do |event|%>
        <div class="event_box">
            <div class="event_name"><h2><%=event.name%></h2></div>
            <div class="event_location"><h4><%=event.location%></h4></div>
            <div class="event_date"><h5><%=event.date%></h5></div>
        </div>
    <% end %>
</div>