<h2 class="h2">This event is hosted by: <%=@event.creator.email%></h2>
<h3>Description of the event:<%=@event.name%></h3>
<h4>Location of the event:<%=@event.location%></h4>
<h5>Event date:<%=@event.date%></h5>
<h6>Atendees:
    <ul>
        <% @event.attendees.each do |atnd| %>
            <li><%= atnd.email %></li>
        <% end %>
    </ul>
</h6>

<%# if you're the host you don't have the option to join the event %>
<% unless current_user.email == @event.creator.email %>
    <%= form_with model: Attendance.new , url:attendances_path,method: :post do |form| %>
        <%= form.hidden_field :event_id, value: @event.id %>
        <%= form.hidden_field :user_id, value: current_user.id%>
        <%= form.submit "Join Event"%>
    <% end %>
<% end %>